@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
    font-family: 'Francois One', sans-serif;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    min-width: 700px;
}

h2 {
    font-size: 1.25em;
}

#logo {
    width: 50px;
    border-radius: 5px;
    margin: 10px;
}

button, input {
    font-family: 'Francois One', sans-serif;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

input {
    background-color: lightgray;
}

#search-form {
    text-align: center;
}

#paging-display {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#previous-button, #next-button {
    border: none;
    font-size: 1.5em;
}

#previous-button:hover , #next-button:hover {
    color: coral;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

li {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #48AEF0;
    margin: 10px;
    width: 150px;
    height: 250px;
}

li:hover {
    background-color: coral;
}